.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 10px;
  padding: 10px;
  border:  1px solid;
  text-align: center;
  width: 250px;

  .add-cart-button {
    background: red;
    color:white;
    width: 100%;
  }

  .remove-cart-button {
    background: green;
    color: white;
    width:100%
  }
}

.product-thumbnail{
  width: 100px;
  height: 100px;
}

.cart-container {
  margin-left: 5px;
  background: lightgray;
  min-width: 200px;
}
